:root {
	--inner-page-color: #E2C18B;
	--edge-page-color: #7a552a;
	--cover-color: #4F7178;
	/* Color pallette partially derived from http://www.colourlovers.com/palette/1729615/Old_book */
}

body{
	height: 100%;
	background: var(--inner-page-color); /* For browsers that don't support gradients */
	/* The rest make it look like an old book */
	background: /* Chrome 25, Safari 6, iOS 6.1, Android 4.3 */
	-webkit-linear-gradient(
		right,
		var(--cover-color),
		var(--edge-page-color) 0.5%,
		var(--inner-page-color) 2%,
		var(--inner-page-color) 49.25%,
		var(--edge-page-color) 50%,
		var(--inner-page-color) 51%,
		var(--inner-page-color) 98%,
		var(--edge-page-color) 99.5%,
		var(--cover-color));
	background: /* Firefox (3.6 to 15) */
	-moz-linear-gradient(
		right,
		var(--cover-color),
		var(--edge-page-color) 0.5%,
		var(--inner-page-color) 2%,
		var(--inner-page-color) 49.25%,
		var(--edge-page-color) 50%,
		var(--inner-page-color) 51%,
		var(--inner-page-color) 98%,
		var(--edge-page-color) 99.5%,
		var(--cover-color));
	background: /* Old Opera (11.1 to 12.0) */ 
	-o-linear-gradient(
		right,
		var(--cover-color),
		var(--edge-page-color) 0.5%,
		var(--inner-page-color) 2%,
		var(--inner-page-color) 49.25%,
		var(--edge-page-color) 50%,
		var(--inner-page-color) 51%,
		var(--inner-page-color) 98%,
		var(--edge-page-color) 99.5%,
		var(--cover-color));
	background: /* Default */
	linear-gradient(
		to right,
		var(--cover-color) 1em,
		var(--edge-page-color) 0.5%,
		var(--inner-page-color) 2%,
		var(--inner-page-color) 49.25%,
		var(--edge-page-color) 50%,
		var(--inner-page-color) 51%,
		var(--inner-page-color) 98%,
		var(--edge-page-color) 99.6%,
		var(--cover-color));
	margin: 0;
}

#top-of-book {
	display: block;
	background-color: var(--cover-color);
	margin: 0;
	padding: 3px;
	bottom: 0;
	left: 0;
	width: auto;
}
#bottom-of-book {
	display: block;
	background-color: var(--cover-color);
	margin: 0;
	padding: 3px;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
}

#process {
	cursor: pointer;
}

.left-page {
	padding: 0 0 0 4%;
	float: left;
	width: 46%;
	overflow: auto;
}

#chap-title {
	text-align: center;
}

.right-page {
	padding: 0 2% 0 0;
	float: right;
	width: 46%;
	overflow: auto;
}

div#author-content {
	padding: 3% 0 0 0;
	height: 95vh;
	overflow: auto;
}

pre#author-content{
	white-space: pre-wrap;
	font-family: inherit;
}

input span:hover {
	cursor: pointer;
}

div#default-quotes {
	white-space: pre-wrap;
	padding: 3%  0 0;
	height: 50vh;
	overflow: auto;
	margin-right: 20px;
}

p.quote {
	padding-left: 1em;
}

p.books-by {
	text-decoration: underline;
}

div#bookmark {
	background: #b00;
	position: absolute;
	display: block;
	height: auto;
	padding: 4px;
	top: -1px;
	left: 25px;
}

div#bookmark div {
	text-align: center;
}


/*Copied from bootstrap */
 .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
 .fileinput-button {
    position: relative;
    overflow: hidden;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}